.boardReport.typeModal { top:35%; }
.boardReport .header h3 { display:block !important; width: 100%; height: 36px; font-size:13px; padding: 11px 14px; box-sizing: border-box; background: fbfafa; }
.boardReport .content { background-color: #fff; padding: 14px;}
.boardReport .content h4 { font-size:12px; }
.boardReport .box { margin:10px 0 14px 0; padding: 15px 10px; border: 1px solid #d9dadc;}
.boardReport .box .selectBox ul { display: flex; flex-wrap:wrap; }
.boardReport .box .selectBox ul li { width: 110px; margin: 0 28px 0 0; list-style:none; padding: 0 0 15px 0; }
.boardReport .box .selectBox ul li:last-child { padding: 0; }
.boardReport .box .selectBox ul li .radio { margin: 0 5px 0 0; }

.boardReport .ec-base-button.report-button,
.xans-board-read .ec-base-button.report-button { margin: 0; position: relative; text-align: center;}
.xans-board-read .ec-base-button.report-button .btnReport { position: absolute; right:0; bottom: 10px;}