.xans-product-optionselectlayer.ec-base-layer.typeModal { min-width:306px; }
.xans-product-optionselectlayer.ec-base-layer.typeModal .wrap { min-height:308px; padding:0; }

.xans-product-optionselectlayer .content { min-height:308px; background:#fff; }
.xans-product-optionselectlayer .inner { overflow:auto; overflow-x:hidden; max-height:280px; padding:14px; -webkit-overflow-scrolling:touch; }
.xans-product-optionselectlayer .inner .name { padding:0 0 4px; font-size:12px; }
.xans-product-optionselectlayer .inner .name strong { margin:0 4px 0 0; }
.xans-product-optionselectlayer .content table { font-size:12px; clear:both; text-align:left; }
/* Normal */
.xans-product-optionselectlayer .productNormal td .inputWrap { display:inline-block; width:70%; }
.xans-product-optionselectlayer .productNormal td .inputWrap input { width:100%; }
.xans-product-optionselectlayer .productNormal .txtByte { font-size:11px; vertical-align:middle; margin:0 0 0 2px; }
.xans-product-optionselectlayer .productNormal .txtByte strong { color:#008bcc; }
.xans-product-optionselectlayer .productNormal td.fileInfo { color:#757575; }
.xans-product-optionselectlayer .productNormal td.fileInfo li { margin:4px 0 0; color:#757575; font-size:11px; }
.xans-product-optionselectlayer .productNormal td.fileInfo li img { vertical-align:bottom; }
/* Set */
.xans-product-optionselectlayer .productSet { margin:6px 0 0; }
.xans-product-optionselectlayer .productSet .seperate { padding:0 0 4px; font-size:12px; }
.xans-product-optionselectlayer .productSet .product { padding:10px 0; border-top:1px dotted #000; }
.xans-product-optionselectlayer .productSet td .inputWrap { display:inline-block; width:70%; }
.xans-product-optionselectlayer .productSet td .inputWrap input { width:100%; }
.xans-product-optionselectlayer .productSet .txtByte { font-size:11px; vertical-align:middle; margin:0 0 0 2px; }
.xans-product-optionselectlayer .productSet .txtByte strong { color:#008bcc; }
.xans-product-optionselectlayer .productSet .quantity.set { padding:14px 0; border-top:1px dotted #000; background:#fff; }
.xans-product-optionselectlayer .productSet .quantity.set dt,
.xans-product-optionselectlayer .productSet .quantity.set dd { display:inline-block; vertical-align:middle; }
.xans-product-optionselectlayer .productSet .quantity.set dt { width:68px; padding:0 0 0 6px; font-size:13px; color:#757575; }
/* Product Option */
.xans-product-optionselectlayer .xans-product-option .value { color:#767479; word-break:break-all; }
.xans-product-optionselectlayer .xans-product-option .value .ec-product-value { color:#363437; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button li { position:relative; overflow:hidden; display:inline-block; margin:0 4px 5px 0; vertical-align:top; border:1px solid #d7d7d7; background:#fff; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button li:last-child { margin-right:0; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button li a { display:block; min-width:28px; text-align:center; word-break:break-all; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button li a span { display:inline-block; padding:4px 5px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button.ec-product-preview li { padding:3px; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button.ec-product-preview li a { min-width:22px; width:22px; height:22px; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button.ec-product-preview li a img { max-width:100%; max-height:100%; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button.ec-product-preview li a span { overflow:hidden; line-height:0; font-size:0; padding:0; text-indent:120%; white-space:nowrap; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button.ec-product-preview .ec-product-soldout span,
.xans-product-optionselectlayer .xans-product-option .ec-product-button.ec-product-preview .ec-product-disabled span { position:absolute; left:0; top:0; z-index:1; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button.ec-product-preview .ec-product-soldout span { background:url("//img.echosting.cafe24.com/skin/mobile/product/soldout_bg.png") repeat; background-size:50% 50%; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button .ec-product-soldout { border-style:dashed; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button .ec-product-soldout a span { display:inline-block; width:100%; height:100%; cursor:not-allowed; color:#d7d7d7; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button .ec-product-soldout.ec-product-selected { border-style:dashed; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button .ec-product-disabled a { cursor:default; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button .ec-product-disabled a span { display:inline-block; width:100%; height:100%; color:#000; background:#555; filter:alpha(opacity=30); opacity:0.3; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button .ec-product-selected { border:2px solid #495164; }
.xans-product-optionselectlayer .xans-product-option .ec-product-button .ec-product-selected a { margin:-1px; }
.xans-product-optionselectlayer .xans-product-option .ec-product-radio > li { display:inline-block; }
.xans-product-optionselectlayer .xans-product-option .ec-product-radio .ec-product-disabled,
.xans-product-optionselectlayer .xans-product-option .ec-product-radio .ec-product-soldout { color:#d7d7d7; }
.xans-product-optionselectlayer .xans-product-option td select { width:100%; }

/* payments */
.xans-product-optionselectlayer .xans-product-detail .regularDelivery .shippingNum,
.xans-product-optionselectlayer .xans-product-detail .regularDelivery .shippingGuide,
.xans-product-optionselectlayer .xans-product-detail .regularDelivery .shippingCycle { background: #f1f1f1; padding-top:6px; padding-bottom:0; }
.regularDelivery .shippingNum .title, .regularDelivery .shippingCycle .title { display: inline-block; padding: 5px 0; font-size: 12px; font-weight: bold; color: #1b1b1b; }
.xans-product-optionselectlayer .xans-product-detail .regularDelivery .shippingNum select,
.xans-product-optionselectlayer .xans-product-detail .regularDelivery .shippingCycle select { width: 100%; }
.xans-product-optionselectlayer .xans-product-detail .regularDelivery .icoSave { display: inline-block; position: relative; top: -1px; height: 11px; padding: 0 4px; border: 1px solid #ff5454; border-radius: 2px; line-height: 10px; color: #ff5454; font-size: 11px; }
.xans-product-optionselectlayer .xans-product-detail .regularDelivery .info > li { line-height: 16px; color: #757575; font-size: 11px; }
.xans-product-optionselectlayer .xans-product-detail .regularDelivery .info .icoDown { display: inline-block; position: relative; overflow: hidden; width: 5px; height: 10px; margin: 0 0 0 2px; line-height: 10px; text-indent: -9999px; }
.xans-product-optionselectlayer .xans-product-detail .regularDelivery .info .icoDown:before { content: ""; display: inline-block; position: absolute; top: 0; left: 2px; width: 1px; height: 10px; background-color: #ff5454; }
.xans-product-optionselectlayer .xans-product-detail .regularDelivery .info .icoDown:after { content: ""; display: inline-block; position: absolute; bottom: 2px; left: -2px; padding: 4px; border: solid #ff5454; border-width: 0 1px 1px 0; transform: rotate(45deg); -webkit-transform: rotate(45deg); }
.xans-product-optionselectlayer .xans-product-detail .regularDelivery .badge { display: inline-block; z-index: 1; position: relative; top: -1px; width: auto; height: 18px; padding: 0 6px; border-radius: 10px; line-height: 18px; font-size: 11px; color: #fff; background-color: #009ffa; }
.xans-product-optionselectlayer .xans-product-detail .regularDelivery .badge .icoDown { display: inline-block; position: relative; top: 1px; overflow: hidden; width: 8px; height: 12px; border-radius: 50%; line-height: 10px; text-indent: -9999px; }
.xans-product-optionselectlayer .xans-product-detail .regularDelivery .badge .icoDown:after { content: ""; display: inline-block; position: absolute; bottom: 1px; left: 0; width: 0; height: 0; border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 4px solid #fff; }

/* quantity */
.xans-product-optionselectlayer .quantity input { width:49px; }
/* Total */
#totalProducts { margin:10px 0 0; clear:both; }
#totalProducts table { table-layout:auto; }
#totalProducts table .center { text-align:center; }
#totalProducts table .right { font-weight:bold; color:#008bcc; text-align:right; }
#totalProducts thead th { height:0; padding:0; font-size:0; line-height:0; *position:absolute; }
#totalProducts tbody th { vertical-align:middle; }
#totalProducts tbody td { padding:4px 0 6px; border-top:1px solid #ebebeb; color:#353535; line-height:18px; vertical-align:middle; text-align:left; word-wrap:break-word; word-break:break-all; }
#totalProducts tbody tr td:first-child { padding-left:4px; }
#totalProducts tbody tr:first-child td { border-top:1px solid #9a9ba0; }
#totalProducts tbody td p { padding:0 7px 0 0; font-weight:bold; line-height:21px; }
#totalProducts tbody td p.product span { font-weight:normal; color:#757575; line-height:18px; }
#totalProducts tbody td p.product span.soldOut { color:#008bcc; }
#totalProducts tbody td .mileage { display:block; }
#totalProducts tbody td .mileage_price { white-space:nowrap; }
#totalProducts input[type=number] { width:50px; }
#totalProducts > table > tbody > tr > td{padding:0;border-top:0;}
#totalProducts tbody tr.option{border-top:0;}
#totalProducts tbody tr.option table th{vertical-align:top;}
#totalProducts tbody tr.option table th,
#totalProducts tbody tr.option table td {text-align:left;padding: 6px 0 7px;line-height: 29px;border-top: 1px solid #ebebeb;border-bottom:0;}
#totalProducts tbody tr.option > td { border-top:0;padding:0;}

.totalPrice { margin:10px 0 0; padding:14px 0 0; font-size:13px; border-top:1px solid #9a9ba0; }
.totalPrice .total { color:#008bcc; }
.totalPrice .total .price { font-style:normal; font-size:16px; }

#appPaymentButtonBox { margin: 10px auto 0; }