/* common */
.progress { overflow:hidden; height:37px; border-bottom:1px solid #ccc; text-align:center; }
.progress li { position:relative; float:left; padding:0 0 0 17px; width:35%; height:100%; line-height:37px; background-color:#ebebeb; box-sizing:border-box; list-style-type:none; }
.progress li:first-child { padding:0; width:30%; }
.progress li:first-child:before { display:none; }
.progress li:before { position:absolute; top:0; left:0; display:inline-block; content:""; width:17px; height:37px; background:url("//img.echosting.cafe24.com/skin/mobile/common/bg_process.png") no-repeat 0 0; background-size:67px auto; }
.progress li.done { background-color:#fafafa; }
.progress li.done + li:before { background-position:-25px 0; }
.progress li.done + li.done:before { background-position:-50px 0; }

.xans-member-join { margin:14px 7px 0; padding:0 0 29px; color:#63666e; font-size: 11px; }
.xans-member-join .titleArea { width:100%; margin:0; border:none; }
.xans-member-join .titleArea.accountArea { margin:-8px 0 0; }
.xans-member-join .titleArea h3 { height:30px; padding:13px 0 0 14px; border:1px solid #d5d5d5; font-size:13px; font-weight:bold; color:#4a5164; font-family:"Helvetica Neue",Helvetica,Arial; background:#f1f1f1; }
.xans-member-join .titleArea h3 span { float:right; padding:0 14px 0 0; color:#1b1b1b; font-size:11px; font-weight:normal; }
.xans-member-join .titleArea h3 span img { margin:0 3px 0 0; padding:4px 0 0; vertical-align:top; }
.xans-member-join p.required { margin:-25px 0 6px; color:#6292db; font-size:11px; text-align:right; }
.xans-member-join p.required img { vertical-align:middle; }

/* Write */
.xans-member-join .ec-base-table.typeWrite { color:#1b1b1b; margin:0 0 7px; }
.xans-member-join .ec-base-table.typeWrite th > img { vertical-align:top; padding:4px 0 0; }
.xans-member-join .ec-base-table.typeWrite td #emailMsg,
.xans-member-join .ec-base-table.typeWrite td #idMsg,
.xans-member-join .ec-base-table.typeWrite td.postCheck p { margin:7px 0 0; line-height:18px; }
.xans-member-join .ec-base-table.typeWrite td.postCheck p label { display:inline; font-size:11px; line-height:18px; }
.xans-member-join .ec-base-table.typeWrite .emailCheck td,
.xans-member-join .ec-base-table.typeWrite .idCheck td { font-size:11px; }
.xans-member-join .ec-base-table.typeWrite .emailCheck th,
.xans-member-join .ec-base-table.typeWrite .idCheck th { vertical-align:top; padding-top:13px; }
.xans-member-join .ec-base-table.typeWrite .emailCheck .error,
.xans-member-join .ec-base-table.typeWrite .idCheck .error { color:#f00; }
.xans-member-join .ec-base-table.typeWrite select { margin-right:4px; }

.xans-member-join .ec-base-table.typeWrite #authWrap #ipinWrap img,
.xans-member-join .ec-base-table.typeWrite #authWrap #mobileWrap img,
.xans-member-join .ec-base-table.typeWrite #authWrap img { width:106px !important; }

/* INPUT SIZE */
.xans-member-join input[type=text],
.xans-member-join input[type=password],
.xans-member-join input[type=number],
.xans-member-join input[type=tel],
.xans-member-join select { width:100%; }
.xans-member-join input[type=tel] { padding:10px 4px; }
.xans-member-join select { padding:0 20px 0 4px; }
.xans-member-join #name, .xans-member-join #last_name,
.xans-member-join #name_en, .xans-member-join #last_name_en,
.xans-member-join #name_phonetic, .xans-member-join #last_name_phonetic { width:49.2%; }
.xans-member-join #last_name, .xans-member-join #last_name_en, .xans-member-join #last_name_phonetic { margin-left:1.6%; }
.xans-member-join #name.ec-member-name, .xans-member-join #name_en.ec-member-name, .xans-member-join #name_phonetic.ec-member-name { width:100%; }
.xans-member-join #foreigner_ssn { width:auto; }
.xans-member-join #user_passwd_confirm,
.xans-member-join #hint,
.xans-member-join #hint_answer { margin-bottom:7px; }
.xans-member-join #member_id { width:100%; margin:0 4px 7px 0; }
.xans-member-join #phone1,
.xans-member-join #mobile1 { max-width:47%; }
.xans-member-join #phone2,
.xans-member-join #mobile2 { width:47%; margin:0 0 0 4px; }
.xans-member-join #bssn1,
.xans-member-join #bssn2 { width:70px; }
.xans-member-join #email1 { max-width:100%; margin:0 4px 7px 0; }
.xans-member-join #email2 { max-width:45%; margin:0 4px 7px 4px; }
.xans-member-join #email3 { height:29px; margin:0 0 7px; }

.xans-member-join #birth_year,
.xans-member-join #marry_year,
.xans-member-join #partner_year { width:54px; margin:0 4px 0 0; }
.xans-member-join #birth_month,
.xans-member-join #marry_month,
.xans-member-join #partner_month { width:38px; margin:0 4px; }
.xans-member-join #birth_day,
.xans-member-join #marry_day,
.xans-member-join #partner_day { width:38px; margin:0 4px; }

/* tooltip */
.xans-member-join .ec-base-tooltip-area { position:relative; width:100%; }