.xans-member-checkemail { font-size:12px; color:#63666e; }
.xans-member-checkemail p { margin:10px 5px 0; }
.xans-member-checkemail p.chkForm { padding:7px; background:#fff; border:1px solid #9d9db0; border-radius:3px; }
.xans-member-checkemail p.chkForm input[type="text"] { width:150px; }
.xans-member-checkemail p strong { color:#000; }
.xans-member-checkemail p.info { margin:10px 5px 0; letter-spacing:-1px; }
.xans-member-checkemail .error { color:#e84f20; }