
.ec-base-layer .inputTypeText { width:200px; }
.ec-base-layer select { min-width:85px; }
.ec-base-layer textarea { min-width:277px; min-height:90px; }

@media (max-width: 767px) {
 
    .xans-myshop-orderreceiverupdate .ec-base-table.typeWrite table {
        table-layout: auto;
    }
    
}