<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "//www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="//www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!--@import(/moa/layout/head.html)-->
<body>
    <!--@import(/moa/import/top_banner.html)-->
    <!--@import(/moa/layout/header.html)-->
    <!--@import(/moa/layout/aside.html)-->
    <!--@import(/moa/import/banner_manager.html)-->
    <!--@import(/moa/import/quick_menu.html)-->
    <div id="wrap">

        <div id="container">
            <main id="contents">
                <!--@contents-->
            </main>
        </div>

    </div>
    <!--@import(/moa/layout/footer.html)-->
</body>
</html>