/* Title */
.xans-myshop-orderhistorylistitem .title h3 { line-height:43px; margin:7px 0 0; padding:0 0 0 14px; font-size:13px; color:#fff; background-color:#4a5164; }
.xans-myshop-orderhistorylistitem .order h3 { overflow:hidden; margin:7px 0 0; padding:0 0 0 14px; line-height:43px; color:#fff; font-size:13px; font-weight:normal; background-color:#737781; }
.xans-myshop-orderhistorylistitem .order h3:after { content:""; display:block; clear:both; }
.xans-myshop-orderhistorylistitem .order h3 a { color:#fff; }

/* List */
.xans-myshop-orderhistorylistitem { margin:0 7px 0; }
.xans-myshop-orderhistorylistitem .order { position:relative; border-left:1px solid #d5d5d5; border-right:1px solid #d5d5d5; background-color:#fff; }
.xans-myshop-orderhistorylistitem .order .date { font-weight:bold; }
.xans-myshop-orderhistorylistitem a.btnDetail { position:absolute; top:14px; right:14px; padding:0 14px 0 0; font-size:11px; color:#fff; background:url("//img.echosting.cafe24.com/skin/mobile_en_US/order/btn_arrow_right.jpg") right center no-repeat; background-size:8px 13px; }
.xans-myshop-orderhistorylistitem .empty { text-align:center; padding:30px 0 30px; }
.xans-myshop-orderhistorylistitem .request { position:relative; overflow:hidden; margin:0 -14px -6px; padding:0 14px; border-bottom:1px solid #d5d5d5; font-weight:bold; color:#508bed; background-color:#f1f1f1; text-align:center; }
.xans-myshop-orderhistorylistitem .prdFoot + .request { margin-top:6px; }
.xans-myshop-orderhistorylistitem .prdFoot + .request:before { content:''; position:absolute; left:0; right:0; top:0; height:1px; background:#d5d5d5; }
.xans-myshop-orderhistorylistitem .prdFoot .payDetail { text-align:left; clear:both; margin-top:36px; }
.xans-myshop-orderhistorylistitem .prdFoot .payDetail .title { padding:10px 14px ; margin: 0 -14px; font-weight:normal; border-top:1px solid #d5d5d5; border-bottom:1px solid #d5d5d5;}
.xans-myshop-orderhistorylistitem .prdFoot .payDetail .contents { background:#fff; color:#000; padding:5px 12px; margin: 0 -12px -6px; font-size:12px; font-weight:normal; }
.xans-myshop-orderhistorylistitem .request [class*='btn'] { margin:6px 0; }

/* 송장 레이어 */
.ec-base-layer.typeInvoice { overflow:hidden; z-index:500; top:50%; left:50%; transform: translate(-50%,-50%); min-width:332px; max-width:600px; width:92%; height:auto; margin:auto; background: none; border-radius:5px 5px 0 0;}
.ec-base-layer.typeInvoice h1 { padding:0 14px; line-height:35px; font-size:13px; text-align:left; border-bottom:1px solid #ccc; color:#fff; background:#495164; border-radius:5px 5px 0 0; }
.ec-base-layer.typeInvoice .wrap { max-height:400px; min-height:100px; height: auto; padding:14px; background:#fff; border-width: 0 1px 1px 1px; border-color: #ccc; border-style: solid; }

/* 멀티송장 */
.ec-base-table.gBorder:not(:first-child) { margin-top:10px; }
.ec-base-table.gBorder th { background-color: #FAFAFD; padding: 4px 0; } 
.ec-base-table.gBorder th, 
.ec-base-table.gBorder td { border-left:1px solid #ececec;}
.ec-base-table.gBorder td { padding: 4px 13px;}
.ec-base-table.gBorder td.number { text-decoration: underline;}
.ec-base-table.gBorder th:first-child, 
.ec-base-table.gBorder td:first-child { border-left:0; }